<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQandSQL.Properties.Settings.StudentConnectionString"
            connectionString="Data Source=SATHYAN\SQLEXPRESS;Initial Catalog=Student;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		
        <add name="LINQandSQL.Properties.Settings.sampleConnectionString"
            connectionString="Data Source=SATHYAN\SQLEXPRESS;Initial Catalog=sample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>