*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.form-container{
   
     background-image: url('../../assets/bg2.jpg'); 
    display: flex;
    justify-content: center;
    box-sizing: border-box; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh; 
}
.form{
    width: 400px;
    height: 330px;
    background-color: transparent;
    padding: 20px;
    display: table;  /*I need to remember it*/
    
}

.login{
    margin-top:90px;
}

.signup{
    margin-top:30px
}

.title{
    font-size: 24px;
    font-weight: 600;
    margin-top:10px;
    color: #eee;
}

.input-container{
    height: 40px;
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.input{
    background-color:transparent;
    border: white 2px;
    box-sizing: border-box;
    color: #eee;
    font-size: 14px;
    height: 100%;
  border-style:groove;
    padding: 4px 20px;
    width: 100%;
}


button{
    border:0;
    background-color: rgb(5, 62, 63);
    box-sizing: border-box;
    color:#eee;
    font-size: 18px;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    width:100%;
}

button:hover{
   color:  rgb(3, 39, 41);
   background-color: #eee;
   cursor: pointer;
}

.msg{
    padding-top:10px;
    font-size: 15px;
}


.error{ color: rgb(238, 228, 228);}
.success{ color:rgb(0, 54, 0);}
.light{ color:white;}

.link{
    text-decoration: none;
    color: rgb(221, 95, 95);
    padding-top: 10px;
    font-size: 16px;
    display: block;
}
.link:hover{
    color:aquamarine;   
}