*{
    text-align: center;
    
}
.form{
    margin-top: 50px;
    background-color: aliceblue;
    width: 600px;
    padding-bottom: 20px;
    margin-left: 30%;
    border-radius: 5px;
}
.form input {
 margin-left: 10px;
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: black;
}
button{
    margin-left: 10px;
}