<!DOCTYPE html>
<html>
<head>
  <title>Url Form</title>
 
</head>
<body>
<div class="form">
    <h2>Question 2</h2>
    <h2>Shorten URL</h2>
    <form [formGroup]="myForm" novalidate>
        <label>Input a Url :</label>
        <input type="text" name="url" formControlName="url" required placeholder="Enter full URL">

        <br><br>
        <button type="submit" [disabled]="!myForm.valid" (click)="shortenUrl()" class="btn btn-primary">Shorten</button>
        <button type="submit" [disabled]="!myForm.valid" (click)="copy()" class="btn btn-primary">Copy</button>
        <br> <br><br>
        The shortened Url is {{ final }}
    </form>
</div>
</body>
</html>

