<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="num1" value="sathyan"/>
		<add key="num2" value="javakar"/>
		
	</appSettings>

	<connectionStrings>
		<clear/>
		<add name="SQLStudentDB"
			 connectionString="data source= SATHYAN\SQLEXPRESS; Initial catalog=Student;integrated security=SSPI"/>

	</connectionStrings>
		
		
	 
	
</configuration>
